.nav-brand {
   height: 40px;
}

.logo {
   background-image: url("../images/logo.svg");
}

.jumbotron {
   margin-top: .5em;
}

footer {
   padding: 1em .5em;
}

.dl-horizontal dt, .dl-horizontal dd {
	margin: 5px;
}