.navbar-default {
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-brand {
	height: 40px;
}

.jumbotron {
	margin-top: .5em;
}

footer {
	padding: 1em .5em;
}

.input-required:after {
	content: '*';
	color: #f00;
}

footer {
	color: white;
	background-color: #088;
	margin-top: 20px;
}

	footer a, footer a:visited {
		color: #AFA;
	}

		footer a:hover {
			color: #ACF;
		}

select option {
	padding: 5px;
}

.gridview {
	width: 90%;
	margin: 20px auto;
	font-family: "Open Sans";
	font-weight: 500;
	line-height: 26.4px;
	border-bottom: 1px solid #aaccff;
}

	.gridview th, .gridview td {
		padding: .5em;
	}

	.gridview th {
		font-size: 24px;
		font-weight: 100;
		font-style: normal;
	}

